<%= content_for :title do %>
  <h2>Pricing</h2>
<% end %>

<table>
  <% @plans.each do |plan| %>
    <tr>
      <td><%= plan.name %></td>
      <td><%= link_to "Sign Up", sign_up_path(:plan => plan.id) %></td>
    </tr>
  <% end %>
</table>
