<%= content_for :title do %>
  <h2>Pricing</h2>
<% end %>

<ul>
  <% @plans.each do |plan| %>
    <li><%= plan.name %></li>
    <li><%= link_to "Sign Up", sign_up_path(:plan => plan.id) %></li>
  <% end %>
</ul>
