<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Saas Starter</a>
      <%= render_navigation %>
      <p class="pull-right"><%= link_to 'Sign In', sign_in_url %></p>
    </div>
  </div>
</div>

